name: Check only

on:
  push:
    branches: [ master ]

  pull_request:
    branches: [ master ]

jobs:
  checks:
    strategy:
      matrix:
        platform: ["ubuntu-latest"]
        python-version: [ "3.7", "3.8", "3.9"]

    name: Python ${{ matrix.python-version }} on ${{ matrix.platform }}
    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install packages
        run: |
          pip install black pytest pytest-cov flake8

      - name: Black
        run: |
          black --version
          black --check .

      - name: Flake8
        run: |
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

      - name: Tests
        run: |
          pip install -e .
          pip freeze
          pytest
